.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
.left-menu .nav-link:hover {
    background-color: #f2f2f2;
}
.left-menu .nav-link.active {
    background-color: #bdbdbd;
}
.navbar.top-bar .email {
  color: rgba(255,255,255,.75);
  margin-right: 10px;
}
.navbar.top-bar .custom-link {
  display: inline-block;
}
